.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}
.nav-items ul{
    list-style-type: none;
    display: flex;

}
.nav-items ul li{
    list-style: none;
    padding: 10px;
}
.logo-img{
    width: 80px;
}
.res-card{
    width: 200px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    font-size: 13px;
    padding: 5px;
    margin: 5px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}
.res-image{
    width:195px;
    height: 150px;
}
.shimmer-card{
    background-color: lightgray;
    width: 195px;
    height: 150px;
    margin: 20px;
}
.shimmer-body{
    background-color: lightgray;
    margin-top: 100px;
    width: 100px;
}
.err{
    color: brown;
    font-size: larger;
}
.avatar-img{
    
}